#tabla_parejas {
    width: 100%;
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
    justify-content: center;
    gap: 1rem;
}

#tabla_parejas > div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}